@import url(slides.css);
 
.title-slide { 
    background: radial-gradient(circle, #4B8BBE 0%, #306998 100%);
}

.title-slide hgroup h1 {
    color: white;
}

.title-slide article p {
    color: #FFD43B;
}

.emphasize {
    color: #306998;
    font-weight: bold;
}

.text-and-picture article {
    display: flex;
    justify-content: space-between;
}

.text-and-picture article a.image-reference {
    display: block;
}


a.image-reference {
    border-bottom: none;
}

.agile-manifesto {
    background: url('agile-manifesto-background.jpg');
}

.lighten {
    opacity: 0.5;
}

.vertical-picture article blockquote > div {
    display: flex;
    align-items: flex-end;
}

.citation-reference {
    font-size: 0.9rem;
    position: absolute;
    bottom: 1rem;
    line-height: 1.2rem;
}

.no-title hgroup {
    display: none;
}
.no-title article {
    margin-top: 0;
}

slide.centered-diagram-slide article {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    padding-bottom: 4rem;
    height: 100%;
    width: 100%;
}

slides > slide.centered-diagram-slide > hgroup + article {
    margin-top: 0;
}

.centered-diagram-slide article img {
    display: block;
    margin: 0 auto;
}

.centered-image-slide article {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 4rem;
    width: 100%;
}

slides > slide.centered-image-slide > hgroup + article {
    margin-top: 0;
}

.centered-image-slide article a.image-reference {
    align-items: center;
    display: flex;
    height: 100%;
}    

.centered-image-slide article a.image-reference img {
    display: block;
    margin: 0 auto;
}

.centered-text-slide,
.centered-title-slide {
    background: radial-gradient(circle, #4B8BBE 0%, #306998 100%);
}

slides slide.centered-text-slide article,
slides slide.centered-title-slide hgroup {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

slides slide.centered-text-slide article p,
slides slide.centered-title-slide hgroup h2 {
    color: #FFD43B;
    font-size: 3rem;
    text-align: center;
    width: 100%;
}

slides slide.centered-text-slide .citation-reference,
slides slide.centered-title-slide .citation-reference,
slides slide.centered-text-slide .citation-reference a,
slides slide.centered-title-slide .citation-reference a {
    color: white;
    opacity: 0.9;
}


slides slide.centered-text-slide .citation-reference a,
slides slide.centered-title-slide .citation-reference a {
    text-decoration: underline;
}

.perguntas {
    color: #306998;
    display: block;
    font-size: 3rem;
    text-align: center;
}

.centered-title-slide article {
    margin-top: -20%;
    text-align: center;
}

.centered-title-slide article a {
    color: white;
    opacity: 0.8;
}

.centered-title-slide article a:hover {
    color: white !important;
    opacity: 1;
}
